@import "tailwindcss";
@import "tw-animate-css";

:root {
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2331f3;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --animate-rotate-border: border-rotate 6s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}

@keyframes rollInOut {
  0% {
    transform: translateY(100%) rotateX(-90deg);
    opacity: 0;
  }
  15% {
    transform: translateY(0) rotateX(0deg);
    opacity: 1;
  }
  30%,
  35% {
    transform: translateY(0) rotateX(0deg);
    opacity: 1;
  }
  50% {
    transform: translateY(-100%) rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%) rotateX(90deg);
    opacity: 0;
  }
}

.roll-text {
  animation: rollInOut 9s cubic-bezier(0.34, 1, 0.64, 1) infinite;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.roll-text-1 {
  animation-delay: 0s;
}

.roll-text-2 {
  animation-delay: 3s;
}

.roll-text-3 {
  animation-delay: 6s;
}

@media (max-width: 350px) {
  .mx-nine {
   width: 75%;
  }
}

@media (min-width: 1440px) {
  .mx-nine {
   width: 60%;
  }
}


@media (min-width: 350px) and (max-width: 456px) {
  .mx-ten {
   width: 65% !important;
  }
}
